{% extends 'base.html' %}

{% block app_content %}
    <input id="submit" type="button" class="btn btn-primary" value="Back" onclick="history.back(-1)" />
    <div class="text404">
    <h1 class="display-4"> ERROR 404 </h1>
    </div>
    <br>
    <br>
    <div class=" alert404">
        <div class="alert alert-danger" role="alert">
            {% if name != '' %}
                {{ name }} not found
            {% else %}
                The page you are looking for does not exist
            {% endif %}
        </div>    
    </div> 
{% endblock %}